
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Hakkımızda</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>34000 İstanbul / Ataşehir</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+90555-555-00-00</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>electro@electro.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Kategoriler</h3>
                        <ul class="footer-links">
                            <li><a href="#">Ana Sayfa</a></li>
                            <li><a href="#">Fırsat Ürünler</a></li>
                            <li><a href="#">Dizüstü Bilgisayarlar&Aksesuarlar</a></li>
                            <li><a href="#">Telefonlar</a></li>
                            <li><a href="#">Kameralar</a></li>
                            <li><a href="#">Masaüstü Bilgisayarlar&Aksesuarlar</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Bilgi</h3>
                        <ul class="footer-links">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">İletişim</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                            <li><a href="#">Siparişler ve İadeler</a></li>
                            <li><a href="#">Şartlar ve Koşullar</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Servisler</h3>
                        <ul class="footer-links">
                            <li><a href="#">Hesabım</a></li>
                            <li><a href="#">Sepeti Görüntüle</a></li>
                            <li><a href="#">Favoriler</a></li>
                            <li><a href="#">Benim siparişimi takip et</a></li>
                            <li><a href="#">Yardım</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->
    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
                        &copy;
                        <script>document.write(new Date().getFullYear());</script> Tüm haklar saklıdır. | E-Ticaret Proje  <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>


                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
